a {
  color: #bbb;
}

li:hover {
  // background-color: rgba(55, 67, 79, 0.534);
  // background-color: #485563;

  border-radius: 5px;
}

li > a.active {
  color: rgb(78, 184, 133);
}

.nav-link:hover {
  color: white;
}

.container-fluid {
  flex-wrap: nowrap;
  background-color: #262634;

  // background-color: #485563;
}

.dropdown-menu {
  position: absolute;
  cursor: pointer;

  &-dark {
    background-color: #262634;
  }
}

.collapse:not(.show) {
  display: flex;
}

ul li:not(:last-of-type) {
  margin-right: 10px;
}

.navbar-nav {
  flex-direction: row;
}

.collapse.navbar-collapse {
  justify-content: space-between;
}

.nav.navbar-nav {
  font-size: 15px;
}

#searchForm {
  display: flex;
}

.btn {
  color: #bbb;

  &:hover {
    color: #fff;
  }
}

@media (max-width: 1200px) {
  #searchForm {
    display: hidden;
  }
}
