<div class="navbar">
  <div class="container-fluid">
    <a href="" class="navbar-brand">ngEvents</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- ROUTES -->
          <a
            class="nav-link"
            [routerLink]="['/events']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            All Events
          </a>
        </li>

        <li class="nav-item">
          <!-- ROUTES -->
          <a
            class="nav-link"
            [routerLink]="['/events/new']"
            routerLinkActive="active"
          >
            Create Event
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
          >
            Events
            <span class="caret"></span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <!-- <a [routerLink]="['/events', event.id]" class="dropdown-item" -->
              <a (click)="onSelectedDropdown()" class="dropdown-item"
                >Angular Connect</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!-- (ngSubmit) ~ EVENT BINDING - CALLING SEARCHSESSIONS METHOD FROM NAVBAR.COMPONENT.TS -->
      <!-- <form
        id="searchForm"
        (ngSubmit)="searchSessions(searchTerm)"
        class="navbar-form navbar-right"
      > -->
      <form id="searchForm" (ngSubmit)="searchSessions(searchTerm)">
        <!-- <div class="form-group"> -->
        <!-- TWO-WAY BINDING FOR SEARCHTERM -->
        <input
          [(ngModel)]="searchTerm"
          name="searchTerm"
          type="text"
          class="form-control me-2"
          placeholder="Search Sessions"
        />
        <!-- </div> -->
        <button class="btn" modal-trigger="searchResults">Search</button>
      </form>

      <!-- <div class="navbar-header navbar-right"> -->
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- SHOWS THIS TEXT IF USER IS NOT LOGGED IN -->
            <a
              class="nav-link"
              *ngIf="!auth.isAuthenticated()"
              [routerLink]="['user/login']"
            >
              Login
            </a>
            <!-- SHOWS THIS TEXT IF USER IS LOGGED IN -->
            <a
              class="nav-link"
              *ngIf="auth.isAuthenticated()"
              [routerLink]="['user/profile']"
            >
              Welcome {{ auth.currentUser.firstName }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<simple-modal
  closeOnBodyClick="true"
  elementId="searchResults"
  title="Matching Sessions"
>
  <div class="list-group">
    <!-- ngFor ~ CREATING VIEW FOR EVERY FOUND SESSION -->
    <a
      class="list-group-item bg-transparent"
      *ngFor="let session of foundSessions"
      [routerLink]="['/events', session['eventId']]"
    >
      {{ session.name }}
    </a>
  </div>
</simple-modal>
