a {
  color: #bbb;
}

li:hover {
  // background-color: rgba(55, 67, 79, 0.534);
  // background-color: #485563;

  border-radius: 5px;
}

a.active {
  color: rgb(78, 184, 133);
}

.nav-link:hover {
  color: white;
}

.container-fluid {
  flex-wrap: nowrap;
  background-color: #262634;

  // background-color: #485563;
}

.dropdown-menu {
  position: absolute;
  cursor: pointer;

  &-dark {
    background-color: #262634;
  }
}

.collapse:not(.show) {
  display: flex;
}

.navbar-nav {
  flex-direction: row;

  & .nav-item:not(:last-of-type) {
    margin-right: 10px;
  }
}

.collapse.navbar-collapse {
  justify-content: space-between;
}

.nav.navbar-nav {
  font-size: 15px;
}

#searchForm {
  display: flex;
}

.btn {
  color: #bbb;

  &:hover {
    color: #fff;
  }
}

simple-modal {
  & .list-group {
    margin-bottom: 10px;
    &-item {
      background-color: #262634;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }

      &:hover {
        background-color: #485563;
        color: white;
      }
    }
  }

  // & .my-pagination ::ng-deep .ngx-pagination .current {
  & .my-pagination::ng-deep {
    & .current {
      background-color: rgb(15, 174, 97);
    }
  }
}

@media (max-width: 1200px) {
  #searchForm {
    display: hidden;
  }
}
