<h1>Login</h1>
<hr />
<div class="col-md-4">
  <!-- (ngSubmit) ~ EVENT BINDING - CALLING LOGIN METHOD FROM PROFILE.COMPONENT.TS -->
  <form
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm.value)"
    autocomplete="off"
  >
    <div class="form-group">
      <label for="userName">User Name: </label>
      <!-- IF USERNAME IS NOT VALID AND IT HAS BEEN TOUCHED IT SHOWS THIS TEXT -->
      <em
        *ngIf="
          loginForm.controls['userName']?.invalid &&
          (loginForm.controls['userName']?.touched || mouseoverLogin)
        "
      >
        Required
      </em>
      <!-- TWO-WAY BINDING FOR USERNAME -->
      <input
        [(ngModel)]="userName"
        name="userName"
        type="text"
        id="userName"
        class="form-control"
        placeholder="User Name..."
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <!-- IF PASSWORD IS NOT VALID AND IT HAS BEEN TOUCHED IT SHOWS THIS TEXT -->
      <em
        *ngIf="
          loginForm.controls['password']?.invalid &&
          (loginForm.controls['password']?.touched || mouseoverLogin)
        "
      >
        Required
      </em>
      <!-- TWO-WAY BINDING FOR PASSWORD -->
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Password..."
        required
      />
    </div>

    <span
      (mouseenter)="mouseoverLogin = true"
      (mouseleave)="mouseoverLogin = false"
    >
      <!-- PROPERTY BINDING - DISABLES A BUTTON IF FORM IS INVALID -->
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary"
      >
        Login
      </button>
    </span>
    <!-- (click) ~ EVENT BINDING - CALLING LOGOUT METHOD FROM LOGIN.COMPONENT.TS-->
    <button type="button" (click)="cancel()" class="btn btn-warning">
      Cancel
    </button>
  </form>
  <br />
  <!-- SHOES ALERT IF FORM IS NOT VALID -->
  <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info</div>
</div>
