<div>
  <h1>Edit Your Profile</h1>
  <hr />

  <div class="col-md-4">
    <!-- [formGroup] ~ PROPERTY BINDING -->
    <!-- (ngSubmit) ~ EVENT BINDING - CALLING SAVEPROFILE METHOD FROM PROFILE.COMPONENT.TS -->
    <form
      [formGroup]="profileForm"
      (ngSubmit)="saveProfile(profileForm.value)"
      autocomplete="off"
      novalidate
    >
      <!-- [ngClass] ~ ADDING ERROR CSS CLASS IF FIRST NAME IS NOT VALIDATED -->
      <div class="form-group" [ngClass]="{ error: !validateFirstName() }">
        <label for="firstName">First Name: </label>
        <!-- IF FIRST NAME IS NOT VALID IT AND IS NOT ADDED IT SHOWS THIS TEXT -->
        <em
          *ngIf="
            !validateFirstName() &&
            profileForm.controls['firstName'].errors?.['required']
          "
        >
          Required
        </em>
        <!-- IF FIRST NAME IS NOT MEETING THE REQUIRED PATTERN IT SHOWS THIS TEXT -->
        <em
          *ngIf="
            !validateFirstName() &&
            profileForm.controls['firstName'].errors?.['pattern']
          "
          >Must start with a letter
        </em>
        <input
          formControlName="firstName"
          type="text"
          placeholder="First Name..."
          id="firstName"
          class="form-control"
          required
        />
      </div>

      <!-- [ngClass] ~ ADDING ERROR CSS CLASS IF LAST NAME IS NOT VALIDATED -->
      <div class="form-group" [ngClass]="{ error: !validateLastName() }">
        <label for="lastName">Last Name: </label>
        <!-- IF LAST NAME IS NOT VALID IT AND IS NOT ADDED IT SHOWS THIS TEXT -->
        <em *ngIf="!validateLastName()">Required</em>
        <input
          formControlName="lastName"
          type="text"
          placeholder="Last Name..."
          id="lastName"
          class="form-control"
          novalidate
        />
      </div>

      <button class="btn btn-primary" type="submit">Save</button>
      <!-- (click) ~ EVENT BINDING - CALLING CANCEL METHOD FROM PROFILE.COMPONENT.TS-->
      <button class="btn btn-warning" type="button" (click)="cancel()">
        Cancel
      </button>

      <!-- (click) ~ EVENT BINDING - CALLING LOGOUT METHOD FROM PROFILE.COMPONENT.TS-->
      <button
        type="button"
        class="btn btn-warning"
        style="float: right"
        (click)="logout()"
      >
        Logout
      </button>
    </form>
  </div>
</div>
