.container {
  padding-left: 20px;
  padding-right: 20px;
}

.event-image {
  height: 100px;
}

a {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: rgb(15, 174, 97);
  color: white;

  &:hover {
    background-color: rgb(78, 184, 133);
    color: white;
  }

  &.active {
    background-color: rgb(78, 184, 133);
  }
}

.add-session {
  color: #bbb;

  &:hover {
    color: white;
  }
}
